
	/* -------------------我的自定义样式-------------------- */

	/* flex布局 */
	.flex {display: flex;}
	.flex-around {display: flex;justify-content: space-around;}
	.flex-between {display: flex;justify-content: space-between;}
	.flex-center {display: flex;justify-content: center;}
	.flex-end {display: flex;justify-content: flex-end;}
	.flex-start {display: flex;justify-content: flex-start;}
	.flex-row {display: flex;flex-direction: row;}
	.flex-column {display: flex;flex-direction: column;}
	.align-center {display: flex;align-items: center;}
	.flex-wrap {display: flex;flex-wrap: wrap;}
	.flex-1 {flex:1;}
	
	/* 定位布局 */
	.absolute {position: absolute;}
	.relative {position: relative;}
	.fixed {position: fixed;}
	.absolute-auto {
		position: absolute;
		left: 50%;
		top:50%;
		transform: translate(-50%,-50%); 
	}
	.absolute-center {
		position: absolute;
		left: 50%;
		transform: translate(-50%); 
	}
	.absolute-middle {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	.fixed-auto {
		position: fixed;
		left: 50%;
		top:50%;
		transform: translate(-50%,-50%); 
	}
	
	/* 文本样式 */
	.text-center {text-align: center;}
	.text-left {text-align: left;}
	.text-right {text-align: right;}
	
	/* 外边距样式 */
	.margin0 {margin: 0rpx auto;}
	.margin10 {margin: 10rpx auto;}
	.margin20 {margin: 20rpx auto;}
	.margin30 {margin: 30rpx auto;}
	.margin40 {margin: 40rpx auto;}
	.margin50 {margin: 50rpx auto;}
	.margin60 {margin: 60rpx auto;}
	.margin70 {margin: 70rpx auto;}
	.margin80 {margin: 80rpx auto;}
	.margin10-0 {margin: 10rpx auto 0rpx;}
	.margin20-0 {margin: 20rpx auto 0rpx;}
	.margin30-0 {margin: 30rpx auto 0rpx;}
	.margin40-0 {margin: 40rpx auto 0rpx;}
	.margin50-0 {margin: 50rpx auto 0rpx;}
	.margin60-0 {margin: 60rpx auto 0rpx;}
	.margin70-0 {margin: 70rpx auto 0rpx;}
	.margin80-0 {margin: 80rpx auto 0rpx;}
	.margin100-0 {margin: 100rpx auto 0rpx;}
	.margin120-0 {margin: 120rpx auto 0rpx;}
	.margin200-0 {margin: 200rpx auto 0rpx;}
	
	/* 内边距样式 */
	.padding-row20 {padding: 0 20rpx;}
	.padding-column20 {padding: 20rpx 0;}
	.padding20 {padding:20rpx;}
	.padding-row30 {padding: 0 30rpx;}
	.padding-column30 {padding: 30rpx 0;}
	.padding30 {padding:30rpx;}
	.placeholder10 {width: 750rpx;height: 10rpx;}
	.placeholder30 {width: 750rpx;height: 30rpx;}
	.placeholder50 {width: 750rpx;height: 50rpx;}
	.placeholder80 {width: 750rpx;height: 80rpx;}
	.placeholder100 {width: 750rpx;height: 100rpx;}
	.placeholder120 {width: 750rpx;height: 120rpx;}
	.placeholder130 {width: 750rpx;height: 130rpx;}
	.placeholder160 {width: 750rpx;height: 160rpx;}
	.placeholder180 {width: 750rpx;height: 180rpx;}
	.placeholder200 {width: 750rpx;height: 200rpx;}
	.placeholder240 {width: 750rpx;height: 240rpx;}
	
	
	.div100 {width: 100%;height: 100%;}
	
	.pageH {
		width:100%;
		height:calc(92rpx + var(--status-bar-height));
	}
	
	.status {
		width: 100%;
		height: var(--status-bar-height);
	}
	
	.myBox {
		box-shadow: 0px 2rpx 4rpx 0px  rgba(173, 179, 204, 0.39);
		color: rgb(51, 51, 51);
		border-radius: 15rpx;
		background: #fff;
		line-height: 1;
	}

	.myBtn {
		width:690rpx;
		height:88rpx;
		background:linear-gradient(-45deg,rgba(5,227,177,1) 0%,rgba(28,236,194,1) 100%);
		border-radius:10rpx;
		line-height: 88rpx;
		color: #fff;
		font-size: 34rpx;
		font-weight:bold;
		text-align: center;
	}
	
	/* 只显示2行,超出隐藏 */
	.wordHide {
		text-overflow: ellipsis;
		display: -webkit-box;
		word-break: break-all;
		-webkit-line-clamp:2;   /* 只显示2行 */
		-webkit-box-orient:vertical;
		overflow: hidden;
	}
	
	/* 文本超出省略 */
	.ellipsis {
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
	}
	
	/* input相关样式 */
	.placeholderClass {color: #999;font-size: 28rpx;}
	.input {color: #333;font-size: 28rpx;}
	.textarea {display: block;}
	
	/* border样式 */
	.border {border: 1rpx solid rgba(0,0,0,0.01);}
	.borderBottom {border-bottom: 1rpx solid rgba(0,0,0,0.01);}


	/* 轮播图指示点样式 */
	.uni-swiper-dot{
		border-radius: 10rpx!important;
		width: 14rpx !important;
		height: 14rpx !important;
		background-color: #FFF8F0 !important;	
	}
	
	.uni-swiper-dot-active{
		background-color: #F16C00 !important;
	}
	
	uni-checkbox .uni-checkbox-input {
		width: 28rpx !important;
		height: 28rpx !important;
	}
	
	uni-checkbox:not([disabled]) .uni-checkbox-input:hover {
	    border-color: #F16C00;
	}
	
	uni-checkbox .uni-checkbox-input.uni-checkbox-input-checked:before {
		font-size: 16px;
	}